@font-face {
  font-family:iconfont;src:url(../font/iconfont.ttf) format("truetype");/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}
.ui-ico,[class^=ui-ico-],[class^=ui-icon-] {
  font-family: iconfont!important;
  font-size:16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  color: rgba(0,0,0,.5);
}
.ui-icon-prev:before {
	content: "\e614"
}

.ui-ico-card03:before { content: "\e620"; }
.ui-ico-evaluatesmall:before { content: "\e600"; }
.ui-ico-mapsmall:before { content: "\e601"; }
.ui-ico-succecheck:before { content: "\e603"; }
.ui-ico-close:before { content: "\e604"; }
.ui-ico-pressed:before { content: "\e605"; }
.ui-ico-mycode:before { content: "\e608"; }
.ui-ico-addnew:before { content: "\e61f"; }
.ui-ico-recharge:before { content: "\e60e"; }
.ui-ico-servicetel:before { content: "\e612"; }
.ui-ico-home02:before { content: "\e60a"; }
.ui-ico-code02:before { content: "\e60b"; }
.ui-ico-alarm:before { content: "\e60d"; }
.ui-ico-my:before { content: "\e61c"; }
.ui-ico-location:before { content: "\e61d"; }
.ui-ico-add:before { content: "\e627"; }
.ui-ico-camera:before { content: "\e602"; }
.ui-ico-code03:before { content: "\e63e"; }
.ui-ico-projectadd02:before { content: "\e62c"; }
.ui-ico-tel:before { content: "\e623"; }
.ui-ico-messagerecord:before { content: "\e610"; }
.ui-ico-praise:before { content: "\e613"; }
.ui-ico-back:before { content: "\e614"; }
.ui-ico-delete:before { content: "\e615"; }
.ui-ico-evaluatebig:before { content: "\e616"; }
.ui-ico-order:before { content: "\e617"; }
.ui-ico-help:before { content: "\e618"; }
.ui-ico-info:before { content: "\e619"; }
.ui-ico-up:before { content: "\e61a"; }
.ui-ico-down:before { content: "\e61b"; }
.ui-ico-set02:before { content: "\e61e"; }
.ui-ico-project:before { content: "\e622"; }
.ui-ico-supplies02:before { content: "\e63f"; }
.ui-ico-orderman02:before { content: "\e645"; }
.ui-ico-successs:before { content: "\e621"; }
.ui-ico-home:before { content: "\e628"; }
.ui-ico-circleadd:before { content: "\e637"; }
.ui-ico-arrow:before { content: "\e638"; }
.ui-ico-successblock:before { content: "\e63a"; }
.ui-ico-history:before { content: "\e639"; }
.ui-ico-unchecked:before { content: "\e63b"; }
.ui-ico-unchecked-s:before { content: "\e63d"; }
.ui-ico-set:before { content: "\e63c"; }
.ui-ico-calendar:before { content: "\e624"; }
.ui-ico-add:before { content: "\e606"; }
.ui-ico-code:before { content: "\e648"; }
.ui-ico-read:before { content: "\e62b"; }
.ui-ico-card02:before { content: "\e609"; }
.ui-ico-carditemcode2:before { content: "\e629"; }
.ui-ico-friend:before { content: "\e640"; }
.ui-ico-supplies:before { content: "\e641"; }
.ui-ico-projectadd:before { content: "\e62d"; }
.ui-ico-csad:before { content: "\e62e"; }
.ui-ico-editor:before { content: "\e642"; }
.ui-ico-punch:before { content: "\e630"; }
.ui-ico-addsmall:before { content: "\e631"; }
.ui-ico-zhifubao:before { content: "\e659"; }
.ui-ico-memorial:before { content: "\e644"; }
.ui-ico-conowmessage:before { content: "\e634"; }
.ui-ico-calendarsmall:before { content: "\e646"; }
.ui-ico-book:before { content: "\e647"; }
.ui-ico-heartpulse:before { content: "\e60c"; }
.ui-ico-inbox:before { content: "\e632"; }
.ui-ico-laptopphone:before { content: "\e62f"; }
.ui-ico-tag:before { content: "\e649"; }
.ui-ico-paydefault:before { content: "\e62a"; }
.ui-ico-rnb:before { content: "\e60f"; }
.ui-ico-orderman:before { content: "\e64a"; }
.ui-ico-iconfontadd:before { content: "\e64d"; }
.ui-ico-zhifubao02:before { content: "\e65b"; }
.ui-ico-mapbig:before { content: "\e635"; }
.ui-ico-card:before { content: "\e625"; }
.ui-ico-add02:before { content: "\e607"; }
.ui-ico-cancel:before { content: "\e65d"; }
.ui-ico-tomb:before { content: "\e636"; }
.ui-ico-phone:before { content: "\e611"; }
.ui-ico-browse:before { content: "\e633"; }
.ui-ico-bianji:before { content: "\e64e"; }
.ui-ico-wodexiangmu:before { content: "\e650"; }
.ui-ico-yuyuejilu:before { content: "\e651"; }
.ui-ico-search:before { content: "\e64b"; }
.ui-ico-552cc20c7f521:before { content: "\e654"; }
.ui-ico-message02:before { content: "\e655"; }
.ui-ico-552cd511d86c8:before { content: "\e656"; }
.ui-ico-552dbf766256b:before { content: "\e657"; }
.ui-ico-message:before { content: "\e658"; }
.ui-ico-weixinzhifu:before { content: "\e65a"; }
.ui-ico-tbd:before { content: "\e626"; }
.ui-ico-weixincopy:before { content: "\e65c"; }
.ui-ico-location:before { content: "\e643"; }
.ui-ico-idukou01:before { content: "\e64c"; }
.ui-ico-idukou02:before { content: "\e64f"; }
.ui-ico-idukou03:before { content: "\e652"; }
.ui-ico-text01:before { content: "\e653"; }
